body {
  margin: 0;
  padding: 0;
  height:100vh;
  overflow: hidden;
  font-family: 'Segoe UI', sans-serif;
  /* background-color: #f0f2f5; */
    /* background: linear-gradient(to right, #4facfe, #00f2fe); */
      /* background: linear-gradient(to right, #4facfe, #ae00fe); */
}
.container {
  height:530px;/*472px;*/
  background-color: #ffffff;/*#ffffff;*/
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  /* box-shadow: 0 0 10px rgba(0,0,0,0.1); */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE/Edge */
    border:none;
}
.messageuser{
  background-color: #dcf8c6;
  align-self: flex-end;
  border-bottom-right-radius: 0;
}

.messagebot{
  background-color: #f1f0f0;
  align-self: flex-start;
  border-bottom-left-radius: 0;
  width:max-content;
  
}